"*":
  "atom-ternjs":
    inlineFnCompletion: false
    inlineFnCompletionDocumentation: true
    lint: false
    useSnippetsAndFunction: true
  "autocomplete-modules":
    babelPluginModuleResolver: true
    vendors: [
      "components"
    ]
    webpack: true
  "autocomplete-plus":
    autoActivationDelay: 300
    backspaceTriggersAutocomplete: true
    enableAutoConfirmSingleSuggestion: false
    maxVisibleSuggestions: 15
    strictMatching: true
    suggestionListFollows: "Cursor"
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
    ]
  core:
    allowPendingPaneItems: false
    destroyEmptyPanes: false
    disabledPackages: [
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-shellscript"
      "language-sql"
      "language-toml"
      "line-ending-selector"
      "metrics"
      "language-yaml"
      "language-sass"
      "language-mustache"
      "language-make"
      "language-less"
      "styleguide"
      "welcome"
      "wrap-guide"
      "language-git"
      "package-generator"
      "background-tips"
      "bookmarks"
    ]
    telemetryConsent: "no"
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
  editor:
    fontFamily: "hack"
    invisibles: {}
    preferredLineLength: 140
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "004387cf-f504-8514-ea00-b09ccb680746"
  "file-icons":
    onChanges: true
  jshint:
    supportLintingJsx: true
  "language-elm":
    elmOraclePath: "/Users/matthew/.nvm/versions/node/v6.11.3/bin/elm-oracle"
  linter: {}
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "/Users/matthew/.nvm/versions/node/v4.3.1"
    lintHtmlFiles: true
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-stylint": {}
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    hidePanelWhenEmpty: true
    panelHeight: 69
    panelRepresents: "Entire Project"
    showPanel: true
    showProviderName: true
    statusBarClickBehavior: "Jump to next issue"
    useBusySignal: false
  minimap:
    absoluteMode: true
  react: {}
  term3: {}
  "tree-view":
    squashDirectoryNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    highlightSearch: false
    incrementalSearch: true
    keymapYToYankToLastCharacterOfLine: true
    statusBarModeStringStyle: "long"
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
