"*":
  "atom-package-deps":
    ignored: []
  "atom-ternjs":
    inlineFnCompletion: false
    inlineFnCompletionDocumentation: true
    lint: false
    useSnippetsAndFunction: true
  "autocomplete-modules":
    babelPluginModuleResolver: true
    vendors: [
      "components"
    ]
    webpack: true
  "autocomplete-plus":
    autoActivationDelay: 300
    backspaceTriggersAutocomplete: true
    enableAutoConfirmSingleSuggestion: false
    maxVisibleSuggestions: 15
    strictMatching: true
    suggestionListFollows: "Cursor"
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
    ]
  core:
    allowPendingPaneItems: false
    destroyEmptyPanes: false
    disabledPackages: [
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-python"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sql"
      "language-toml"
      "line-ending-selector"
      "metrics"
      "language-yaml"
      "language-sass"
      "language-mustache"
      "language-make"
      "language-less"
      "styleguide"
      "welcome"
      "wrap-guide"
      "language-git"
      "package-generator"
      "background-tips"
      "bookmarks"
      "atom-ternjs"
      "language-shellscript"
    ]
    telemetryConsent: "no"
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    lower_case_primitives: true
  editor:
    fontFamily: "hack"
    invisibles: {}
    preferredLineLength: 140
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "004387cf-f504-8514-ea00-b09ccb680746"
  "file-icons":
    onChanges: true
  jshint:
    supportLintingJsx: true
  "language-elm":
    elmOraclePath: "~/.nvm/versions/node/v6.11.3/bin/elm-oracle"
  linter: {}
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "~/.nvm/versions/node/v4.3.1"
    ignoreFixableRulesWhileTyping: true
    lintHtmlFiles: true
    rulesToDisableWhileFixing: [
      "mocha/no-skipped-tests"
    ]
  "linter-jscs":
    esnext: true
    onlyConfig: true
  "linter-stylint": {}
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    hidePanelWhenEmpty: true
    panelHeight: 165
    panelRepresents: "Entire Project"
    showProviderName: true
    statusBarClickBehavior: "Jump to next issue"
    useBusySignal: false
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    charHeight: 3
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "minimap-git-diff":
    useGutterDecoration: true
  "minimap-linter": {}
  pigments:
    filetypesForColorWords: [
      "css"
      "less"
      "styl"
      "stylus"
      "sass"
      "scss"
      "html"
      "js"
    ]
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      singleQuote: true
    useEslint: true
  react: {}
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
  term3: {}
  "tree-view":
    squashDirectoryNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    incrementalSearch: true
    keymapYToYankToLastCharacterOfLine: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: false
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
