'packages': [
  'about'
  'archive-view'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-light-syntax'
  'atom-light-ui'
  'atom-ternjs'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-html'
  'autocomplete-modules'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'bookmarks'
  'bracket-matcher'
  'busy-signal'
  'command-palette'
  'dalek'
  'deprecation-cop'
  'dev-live-reload'
  'docblockr'
  'elm-format'
  'encoding-selector'
  'exception-reporting'
  'file-icons'
  'find-and-replace'
  'fuzzy-finder'
  'git-diff'
  'github'
  'go-to-line'
  'goto'
  'grammar-selector'
  'image-view'
  'incompatible-packages'
  'intentions'
  'keybinding-resolver'
  'language-c'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-ejs'
  'language-elm'
  'language-gfm'
  'language-git'
  'language-go'
  'language-html'
  'language-hyperlink'
  'language-java'
  'language-javascript'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-sass'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-squarespace'
  'language-text'
  'language-todo'
  'language-toml'
  'language-typescript'
  'language-xml'
  'language-yaml'
  'line-ending-selector'
  'link'
  'linter'
  'linter-csslint'
  'linter-elm-make'
  'linter-eslint'
  'linter-jsonlint'
  'linter-ui-default'
  'markdown-preview'
  'merge-conflicts'
  'metrics'
  'notifications'
  'oceanic-next'
  'one-dark-syntax'
  'one-dark-ui'
  'one-light-syntax'
  'one-light-ui'
  'open-on-github'
  'package-generator'
  'parcel'
  'pigments'
  'react'
  'settings-view'
  'snippets'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'spell-check'
  'status-bar'
  'styleguide'
  'Stylus'
  'symbols-view'
  'tabs'
  'teletype'
  'timecop'
  'tree-view'
  'update-package-dependencies'
  'vim-mode-plus'
  'vim-mode-plus-ex-mode'
  'welcome'
  'whitespace'
  'wrap-guide'
]
